<h1>Showing a Todo </h1>
<p>
    Name: <%= @todo.name %>
</p>
<p>    
    Description: <%= @todo.description %>
</p>
<%= link_to "Back to All Todos",todos_path %>
<%= link_to "Creat New Todo", new_todo_path %>
